@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

*, html, body, :root {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

*::-webkit-scrollbar, html::-webkit-scrollbar, body::-webkit-scrollbar, :root::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-track {
  background: transparent !important;
}

body.game-maximized nav {
  display: none !important;
}